.login-register-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main-body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 40px;
}

.container {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 20px;
}

button {
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-align: center;
  display: block;
  margin-top: 10px;
}

#personal-info {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#logout {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
}

#logout:hover {
  background-color: #da190b;
}

.job-listing {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.job-listing h3 {
  margin-bottom: 10px;
}

.job-listing p {
  margin-bottom: 5px;
}
